$grey--bg: #f5f5f5;
$grey--border: #cccccc;
$grey--text: #4a494a;

$blue: #70c4cb;
$red: #d0605c;

// header and .navigation__logo use these values
$header-height: 14rem;
$header-padding: 1rem 0 0 0;

// .page (in file "_general.scss") and .navigation use this value
$page-padding: 3rem;
