header {
  height: $header-height;
  padding: $header-padding;
  border-top: 1px solid $grey--border;
  border-bottom: 1px solid $grey--border;
  position: relative;
  & h1 {
    & span {
      color: $blue;
    }
    font-weight: 500;
    font-size: 1.6rem;
  }
  // Mobile Navigation Menu Button
  & .open-mobile {
    position: absolute;
    top: 1rem;
    right: -0.5rem;
    background-color: $grey--bg;
    padding: 0.5rem;
    cursor: pointer;
    & span {
      width: 2.1rem;
      height: 3px;
      background-color: $grey--text;
      display: block;
      margin-bottom: 8px;
      margin-left: auto;
    }
    & span:nth-child(1) {
      width: 1.6rem;
    }
    & span:nth-child(3) {
      width: 1.1rem;
    }
    display: none;
    @include max-1000 {
      display: block;
    }
  }
}
