.navigation {
  @include max-1000 {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.76);
    position: fixed;
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    & .navigation__wrapper {
      right: 0;
      transform: translateX(100%);
    }
    & .navigation__logo {
      margin-top: 4rem;
    }
  }
  & .navigation__wrapper {
    padding: $page-padding;
    height: 100vh;
    border-right: 1px solid $grey--border;
    position: fixed;
    background-color: $grey--bg;
  }
  & .navigation__logo {
    border-top: 1px solid $grey--border;
    border-bottom: 1px solid $grey--border;
    // height and padding top must match header
    height: $header-height;
    padding: $header-padding;
    & span {
      display: block;
      font-weight: 500;
      font-size: 2rem;
      &:nth-child(1) {
        color: $red;
      }
      &:nth-child(3) {
        color: $blue;
      }
    }
  }
  & .navigation__links {
    margin-bottom: 4rem;
    & li {
      text-transform: uppercase;
      padding: 0.6rem 0;
      border-bottom: 1px solid $grey--border;
    }
  }
  & .navigation__socials {
    border-top: 1px solid $grey--border;
    display: flex;
    gap: 1rem;
    & .navigation__socials__link {
      padding: 0.4rem;
      background-color: $grey--text;
      margin-top: 0.6rem;
      display: flex;
      border-radius: 3px;
      position: relative;
      &::before {
        content: "";
        width: 1rem;
        height: 1rem;
        position: absolute;
        bottom: -2px;
        left: 4px;
        border-radius: 1px;
        transform: rotate(45deg);
        background-color: $grey--text;
      }
      &:hover {
        opacity: 0.8;
      }
    }
    & .navigation__socials__icon {
      font-size: 1.2rem;
      color: $grey--bg;
      z-index: 1;
    }
  }

  & .navigation__close-mobile {
    position: absolute;
    top: 3.6rem;
    right: 3rem;
    background-color: $grey--bg;

    & .navigation__close-mobile__icon {
      font-size: 2.2rem;
      color: $grey--text;
      background-color: $grey--bg;
      display: none;
    }
  }
}
