.navigation__wrapper {
  // Needs a wrapper for backdrop in mobile view
  & .navigation {
    padding: $page-padding;
    height: 100vh;
    border-right: 1px solid $grey--border;
    position: fixed;
    background-color: $grey--bg;
  }
  & .navigation__logo {
    // Name and Title
    border-top: 1px solid $grey--border;
    border-bottom: 1px solid $grey--border;
    // height and padding top must match header to keep borders aligned
    height: $header-height;
    padding: $header-padding;
    & span {
      display: block;
      font-weight: 500;
      font-size: 2rem;
      &:nth-child(1) {
        color: $red;
      }
      &:nth-child(3) {
        color: $blue;
      }
    }
  }
  & .navigation__links {
    margin-bottom: 4rem;
    & li {
      text-transform: uppercase;
      padding: 0.6rem 0;
      border-bottom: 1px solid $grey--border;
    }
    & .navigation__link {
      padding: 0.4rem 0;
    }
  }
  // Little dark-grey chat bubble socials
  & .navigation__socials {
    border-top: 1px solid $grey--border;
    display: flex;
    gap: 1rem;
    & .navigation__socials__link {
      padding: 0.4rem;
      background-color: $grey--text;
      margin-top: 0.6rem;
      display: flex;
      border-radius: 3px;
      position: relative;
      // the bottom pointer part of the chat bubble
      &::before {
        content: "";
        width: 1rem;
        height: 1rem;
        position: absolute;
        bottom: -2px;
        left: 4px;
        border-radius: 1px;
        transform: rotate(45deg);
        background-color: $grey--text;
      }
      &:hover {
        opacity: 0.8;
      }
    }
    & .navigation__socials__icon {
      font-size: 1.2rem;
      color: $grey--bg;
      z-index: 1;
    }
  }
  & .navigation__close-mobile {
    // The X button for closing mobile navigation
    position: absolute;
    top: 4.2rem;
    right: 2.7rem;
    background-color: $grey--bg;
    cursor: pointer;
    // don't show at screens wider than 1000px (see media query mixin below)
    display: none;
    & .navigation__close-mobile__icon {
      font-size: 2.2rem;
      color: $grey--text;
      background-color: $grey--bg;
    }
  }

  // Set up mobile navigation
  @include max-1000 {
    // Hide the menu and move it to right side of the page
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 100;

    // opacity: 0;
    background-color: rgba(0, 0, 0, 0);
    visibility: hidden;
    transition: 0.3s ease-in-out;
    &.navigation__mobile-open {
      // Show menu and dim the rest of the page
      visibility: visible;
      background-color: rgba(0, 0, 0, 0.76);
      & .navigation {
        // mobile navigation slide in
        transform: translateX(0);
      }
    }
    & .navigation {
      // mobile navigation menu before slide in
      transition: 0.3s ease-in-out;
      right: 0;
      transform: translateX(100%);
    }

    & .navigation__logo {
      // allow room for the close button
      margin-top: 5rem;
    }
    & .navigation__close-mobile {
      // display close button
      display: block;
    }
  }

  // reduce padding and adjust close button for mobile
  @include max-400 {
    & .navigation {
      padding: $page-padding__mobile;
    }
    & .navigation__close-mobile {
      right: 1.3rem;
    }
  }
}
