#root {
  max-width: 70rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

body {
  font-family: "Barlow", sans-serif;
  color: #4a494a;
  background-color: #f5f5f5;
  overflow-y: scroll;
}

.page {
  width: 100%;
  padding: 3rem;
  margin-left: 270px;
}
@media (max-width: 62.5em) {
  .page {
    margin-left: 0;
  }
}
@media (max-width: 25em) {
  .page {
    padding: 3rem 1.6rem;
  }
}

input,
textarea {
  font-size: 1.1rem;
  background-color: #f5f5f5;
  padding: 0.4rem;
  border: 1px solid #cccccc;
  color: inherit;
  font-family: inherit;
}
input:focus,
textarea:focus {
  outline: 3px solid #70c4cb;
  border-radius: 3px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

button {
  border: none;
  outline: none;
  font-family: inherit;
}

a {
  text-decoration: none;
  color: inherit;
  font-family: inherit;
}

.navigation__wrapper .navigation {
  padding: 3rem;
  height: 100vh;
  border-right: 1px solid #cccccc;
  position: fixed;
  background-color: #f5f5f5;
}
.navigation__wrapper .navigation__logo {
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  height: 14rem;
  padding: 1rem 0 0 0;
}
.navigation__wrapper .navigation__logo span {
  display: block;
  font-weight: 500;
  font-size: 2rem;
}
.navigation__wrapper .navigation__logo span:nth-child(1) {
  color: #d0605c;
}
.navigation__wrapper .navigation__logo span:nth-child(3) {
  color: #70c4cb;
}
.navigation__wrapper .navigation__links {
  margin-bottom: 4rem;
}
.navigation__wrapper .navigation__links li {
  text-transform: uppercase;
  padding: 0.6rem 0;
  border-bottom: 1px solid #cccccc;
}
.navigation__wrapper .navigation__links .navigation__link {
  padding: 0.4rem 0;
}
.navigation__wrapper .navigation__socials {
  border-top: 1px solid #cccccc;
  display: flex;
  gap: 1rem;
}
.navigation__wrapper .navigation__socials .navigation__socials__link {
  padding: 0.4rem;
  background-color: #4a494a;
  margin-top: 0.6rem;
  display: flex;
  border-radius: 3px;
  position: relative;
}
.navigation__wrapper .navigation__socials .navigation__socials__link::before {
  content: "";
  width: 1rem;
  height: 1rem;
  position: absolute;
  bottom: -2px;
  left: 4px;
  border-radius: 1px;
  transform: rotate(45deg);
  background-color: #4a494a;
}
.navigation__wrapper .navigation__socials .navigation__socials__link:hover {
  opacity: 0.8;
}
.navigation__wrapper .navigation__socials .navigation__socials__icon {
  font-size: 1.2rem;
  color: #f5f5f5;
  z-index: 1;
}
.navigation__wrapper .navigation__close-mobile {
  position: absolute;
  top: 4.2rem;
  right: 2.7rem;
  background-color: #f5f5f5;
  cursor: pointer;
  display: none;
}
.navigation__wrapper .navigation__close-mobile .navigation__close-mobile__icon {
  font-size: 2.2rem;
  color: #4a494a;
  background-color: #f5f5f5;
}
@media (max-width: 62.5em) {
  .navigation__wrapper {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0);
    visibility: hidden;
    transition: 0.3s ease-in-out;
  }
  .navigation__wrapper.navigation__mobile-open {
    visibility: visible;
    background-color: rgba(0, 0, 0, 0.76);
  }
  .navigation__wrapper.navigation__mobile-open .navigation {
    transform: translateX(0);
  }
  .navigation__wrapper .navigation {
    transition: 0.3s ease-in-out;
    right: 0;
    transform: translateX(100%);
  }
  .navigation__wrapper .navigation__logo {
    margin-top: 5rem;
  }
  .navigation__wrapper .navigation__close-mobile {
    display: block;
  }
}
@media (max-width: 25em) {
  .navigation__wrapper .navigation {
    padding: 3rem 1.6rem;
  }
  .navigation__wrapper .navigation__close-mobile {
    right: 1.3rem;
  }
}

header {
  height: 14rem;
  padding: 1rem 0 0 0;
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  position: relative;
}
header h1 {
  font-weight: 500;
  font-size: 1.6rem;
}
header h1 span {
  color: #70c4cb;
}
header .open-mobile {
  position: absolute;
  top: 1rem;
  right: -0.5rem;
  background-color: #f5f5f5;
  padding: 0.5rem;
  cursor: pointer;
  display: none;
}
header .open-mobile span {
  width: 2.1rem;
  height: 3px;
  background-color: #4a494a;
  display: block;
  margin-bottom: 8px;
  margin-left: auto;
}
header .open-mobile span:nth-child(1) {
  width: 1.6rem;
}
header .open-mobile span:nth-child(3) {
  width: 1.1rem;
}
@media (max-width: 62.5em) {
  header .open-mobile {
    display: block;
  }
}

.project {
  display: grid;
  grid-template-columns: 1fr 1.2fr;
  border-bottom: 1px solid #cccccc;
  gap: 2rem;
  padding: 2rem 0;
  align-items: center;
}
.project .project__header {
  font-weight: 500;
  text-transform: uppercase;
  font-size: 1.4rem;
}
.project .project__header span {
  display: block;
}
.project .project__header .project__header__id {
  color: #cccccc;
  font-size: 2rem;
}
.project .project__header .project__header__slash-one {
  color: #d0605c;
}
.project .project__header .project__header__slash-two {
  color: #70c4cb;
}
.project .project__about {
  margin-top: 2rem;
  font-size: 1.1rem;
}
.project .project__features {
  list-style-type: disc;
  margin-top: 2rem;
}
.project .project__features li {
  margin-left: 1.2rem;
  margin-top: 0.8rem;
}
.project .project__features__header {
  text-transform: uppercase;
  font-weight: 500;
}
.project .project__image {
  width: 100%;
  padding-top: 75%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.project .project__links {
  margin-top: 1.4rem;
  display: flex;
  justify-content: space-around;
}
.project .project__link {
  padding: 0.25rem;
  font-size: 1.1rem;
  border-bottom: 1px solid #f5f5f5;
  transition: 0.2s ease-in-out;
}
.project .project__link:hover {
  border-bottom: 1px solid #4a494a;
}
@media (max-width: 50em) {
  .project {
    grid-template-columns: 1fr;
  }
}

.contact-form {
  display: flex;
  flex-direction: column;
  padding: 2rem 0;
  border-bottom: 1px solid #cccccc;
}
.contact-form label {
  margin-bottom: 0.4rem;
}
.contact-form .contact-form__textarea {
  height: 10rem;
  resize: none;
  margin-bottom: 1rem;
}
.contact-form .contact-form__input {
  margin-bottom: 1rem;
}
.contact-form .contact-form__button {
  align-self: flex-start;
  padding: 0.8rem 2.6rem;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
  background-color: #4a494a;
  color: #f5f5f5;
}
.contact-form .contact-form__button:focus {
  outline: 3px solid #70c4cb;
  border-radius: 3px;
}
.contact-form .contact-form__button:hover {
  cursor: pointer;
  opacity: 0.8;
}

.about {
  padding: 4rem 0;
  display: grid;
  grid-template-columns: 1fr 1.1fr;
  gap: 2rem;
  border-bottom: 1px solid #cccccc;
  align-items: center;
}
.about .about__info p {
  font-size: 1.1rem;
  margin-bottom: 1rem;
}
.about .about__technologies {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.about .about__technologies ul {
  list-style-type: disc;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.about .about__technologies ul li {
  margin-left: 1.2rem;
  text-transform: uppercase;
  font-weight: 500;
}
.about .about__image-container {
  position: relative;
  background-color: #f5f5f5;
  padding: 0.4rem;
  border-radius: 50%;
  border: 6px solid #70c4cb;
}
.about .about__image-container .about__image {
  background-image: url("./images/jake.webp");
  padding-top: 100%;
  border-radius: 50%;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}
@media (max-width: 37.5em) {
  .about {
    grid-template-columns: 1fr;
  }
  .about .about__image-container {
    grid-row: 1;
  }
}

.thank-you {
  padding: 3rem 0;
  border-bottom: 1px solid #cccccc;
}
.thank-you h2 {
  font-weight: 500;
  margin-bottom: 1rem;
  font-size: 1.4rem;
}

/*# sourceMappingURL=style.css.map */
