#root {
  max-width: 70rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}
body {
  font-family: "Barlow", sans-serif;
  color: $grey--text;
  background-color: $grey--bg;
  overflow-y: scroll;
}

.page {
  width: 100%;
  padding: $page-padding;
  margin-left: 270px;
  @include max-1000 {
    margin-left: 0;
  }
  @include max-400 {
    padding: $page-padding__mobile;
  }
}
input,
textarea {
  font-size: 1.1rem;
  background-color: $grey--bg;
  padding: 0.4rem;
  border: 1px solid $grey--border;
  color: inherit;
  font-family: inherit;
  &:focus {
    outline: 3px solid $blue;
    border-radius: 3px;
  }
}
